{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Navigation-->
{% include 'content/navigation.html' %}
<!--Header-->
{% include 'content/header.html' %}
<!--show Itiem-->
{% include 'content/showShirt.html' %}
<!-- show Itiem Grid-->
{% include 'content/showGrid.html' %}
<!-- show Itiem buy computer-->
{% include 'content/showComputer.html' %}
<!-- show Foods-->
{% include 'content/showFood.html' %}
<!--show Wemen Clothes -->
{% include 'content/showWomenClothes.html' %}
<!-- Footer-->
{% include 'content/footer.html' %}
<!-- javascript-->
{% include 'javascript.html' %}
<!-- end-->
{% endblock %}