{% load static %}

<div class="content">
    <div class="site-blocks-cover">
      <div class="img-wrap">
        <div class="owl-carousel slide-one-item hero-slider">
          <div class="slide">
            <img src="{% static '/image/hinh-anh-do-uong.jpg' %}" alt="drink🍸">
          </div>
          <div class="slide">
            <img src="{% static '/image/hinh-anh-quan-lot-nam.jpg' %}" alt="Đồ Nam👔">
          </div>
          <div class="slide">
            <img src="{% static '/image/hinh-anh-rau-cai.jpg' %}" alt="Thực Phẩm🍔">
          </div>
          <div class="slide">
            <img src="{% static '/image/hinh-anh-sach.jpg' %}" alt="Sách📓">
          </div>
          <div class="slide">
            <img src="{% static '/image/hinh-anh-ao-nu.jpg' %}" alt="Dồ Nữ👗">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto align-self-center">
            <div class="intro">
              <div class="heading">
                <h1 class="text-white font-weight-bold">Welcome Shop D.B.A</h1>
              </div>
              <div class="text sub-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis qui distinctio.</p>
                  <button class='glowing-btn'><span class='glowing-txt'>C<span class='faulty-letter'>L</span>ICK</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>